body {
    margin: 0;
    font-family: arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(45deg, black, grey, peachpuff, white);
}